<div class="container">
  <div class="float_left">
    <div class="background">
    </div>
  </div>
  <div class="float_right">
    <form [formGroup]="firstFormGroup" id="firstFormGroup">
      <p>1/5</p>
      <p> <b>Please fill with your details</b></p>
      <div id="form_group">
        <input type="text" name="fname" id="fname" placeholder="First Name..." formControlName="fname">
      </div>
      <div id="form_group"><input type="text" name="lname" id="lname" placeholder="Last Name..." formControlName="lname"> </div>
      <div id="form_group"><input type="date" name="date" id="date" placeholder="Date" formControlName="date"> </div>

      <div id="form_group">
          <select name="" id="country" aria-placeholder="Your Country" formControlName="country">
            <option value="europe">Europe</option>
            <option value="usa">USA</option>
            <option value="india">India</option>
            <option value="sriLanka">Sri Lanka</option>
            <option value="malaysia">Malaysia</option>
          </select>
      </div>
      <div id="form_group">
        <input type="text" placeholder="Age" id="age" formControlName="age">
        <input type="radio" name="gender" id="gender" placeholder="Male" value="male" (click)="getGender($event)" formControlName="gender"> Male
        <input type="radio" name="gender" id="gender" placeholder="Female" value="female" (click)="getGender($event)" formControlName="gender"> Female 
      </div>
      <div id="form_group"><input type="checkbox" name="terms_and_conditions" id="terms" (click)="onChange($event)"> Please accept our <a href="">Terms and conditions</a>.</div>
      <hr>
      <button class="next_button" (click)="onSubmit()">Next</button>
    </form>

    <form [formGroup]="secondFormGroup" style="display: none;" id="secondFormGroup">
      <p>2/5</p>
      <p> <b>How do you rate your overall satisfaction about the service provided?</b></p>
      <div id="form_group">
        <input type="radio" name="satisfaction" id="satisfaction" formControlName="satisfaction" value="not-satisfied"> Not Satisfied
      </div>
      
      <div id="form_group">
        <input type="radio" name="satisfaction" id="satisfaction" formControlName="satisfaction" value="quite-satisfied"> Quite Satisfied
      </div>
      <div id="form_group">
        <input type="radio" name="satisfaction" id="satisfaction" formControlName="satisfaction" value="satisfied"> Satisfied
      </div>
      <div id="form_group">
        <input type="radio" name="satisfaction" id="satisfaction" formControlName="satisfaction" value="completely-satisfied"> Completely Satisfied
      </div>
      <div id="form_group">
        <input type="radio" name="satisfaction" id="satisfaction" formControlName="satisfaction" value="extremely-satisfied"> Extremely Satisfied
      </div>

      <button class="prev_button" (click)="goToFirst()">
        Previous
      </button>

      <button class="next_button" (click)="goToThird()">
        Next
      </button>
    </form>

    <form [formGroup]="thirdFormGroup" style="display: none;" id="thirdFormGroup">
      <p>3/5</p>
      <p> <b>How did you hear about our company?</b></p>
      <div id="form_group">
        <input type="checkbox" name="google-search-engine" id="google-search-engine" formControlName="hear" value="google-search-engine" (change)="onHear($event)"> Google Search Engine
      </div>
      <div id="form_group">
        <input type="checkbox" name="a-friend-of-mine" id="a-friend-of-mine" formControlName="hear" value="a-friend-of-mine" (change)="onHear($event)"> A friend of mine
      </div>
      <div id="form_group">
        <input type="checkbox" name="print-advertise" id="print-advertise" formControlName="hear" value="print-advertise" (change)="onHear($event)"> Print Advertise
      </div>
      <div id="form_group">
        <input type="checkbox" name="newspaper" id="newspaper" formControlName="hear" value="newspaper" (change)="onHear($event)"> Newspaper
      </div>
      <div id="form_group">
        <input type="checkbox" name="other" id="hear" formControlName="hear" value="other" (change)="onHear($event)"> Other
      </div>

      <button class="prev_button" (click)="goToSecond()">
        Previous
      </button>

      <button class="next_button" (click)="goToFourth()">
        Next
      </button>
    </form>

    <form [formGroup]="fourthFormGroup" style="display: none;" id="fourthFormGroup">
      <p>4/5</p>
      <p> <b>Do you think to suggest our company to a friend or parent?</b></p>
      <div id="form_group">
        <input type="radio" name="suggest" id="suggest" formControlName="suggest" value="no"> No
      </div>
      
      <div id="form_group">
        <input type="radio" name="suggest" id="suggest" formControlName="suggest" value="maybe"> Maybe
      </div>

      <div id="form_group">
        <input type="radio" name="suggest" id="suggest" formControlName="suggest" value="probably"> Probably
      </div>

      <div id="form_group">
        <input type="radio" name="suggest" id="suggest" formControlName="suggest" value="sure"> 100% Sure
      </div>
      
      <div id="form_group">
        <textarea name="describe" id="describe" formControlName="describe">  </textarea>
      </div>

      <button class="prev_button" (click)="goToThird()">
        Previous
      </button>

      <button class="next_button" (click)="goToFifth()">
        Next
      </button>
    </form>

    <form style="display: none;" id="fifthFormGroup">
      <p>5/5</p>
      <p> <b>Summary</b></p>
      <div id="form_group">
        <p><b>How do you rate your overall satisfaction about the service provided?</b></p>
        <p>{{firstAnswer}}</p>
      </div>

      <div id="form_group">
        <p><b>How did you hear about our company?</b></p>
        <p *ngFor="let item of secondAnswer">
          {{item}}
        </p>
      </div>

      <div id="form_group">
        <p> <b>Do you think to suggest our company to a friend or parent?</b> </p>
        <p> {{thirdAnswer | titlecase}} </p>
      </div>

      <button class="prev_button" (click)="goToFourth()">
        Previous
      </button>

      <button class="next_button" (click)="submitFifth()">
        Next
      </button>
    </form>
  </div>
</div>