<div class="container">
  <div class="float_left">
    <div class="background">
    </div>
  </div>
  <div class="float_right">
    <form action="">
      <div id="form_group"><input type="text" name="fname" id="fname" placeholder="First Name..."></div>
      <div id="form_group"><input type="text" name="lname" id="lname" placeholder="Last Name..."> </div>
      <div id="form_group"><input type="date" name="date" id="date" placeholder="Date"> </div>
      <div id="form_group">
        <input type="radio" name="male" id="male" placeholder="Male"> Male
        <input type="radio" name="female" id="female" placeholder="Female"> Female </div>
      <div id="form_group">
          <select name="" id="" aria-placeholder="Your Country">
            <option value="europe">Europe</option>
            <option value="usa">USA</option>
            <option value="india">India</option>
            <option value="sriLanka">Sri Lanka</option>
            <option value="malaysia">Malaysia</option>
          </select>
      </div>
      <div id="form_group">
        <input type="text" placeholder="Age">
      </div>
      <div id="form_group"><input type="checkbox" name="terms_and_conditions" id="terms_and_conditions"> Please accept our <a href="">Terms and conditions</a>.</div>
    </form>
  </div>
</div>